
<h1>Some page </h1>
 <p>strurcture of page</p>
<ul>
    <li>some text</li>
</ul>
<a href="contacts">Our contacts</a>
<p>If you have account you may <a href="singIn">sing In</a> or <a href="registration">register here</a> </p>
