<h5>Hello, you can sing in here</h5>
<form action="http://localhost:3030/do/auth" method="post" enctype="multipart/form-data">
    <label>Login<input type="text" name="name"></label>
    <label>Password<input type="password" name="password"></label>
    <button type="submit">SingIn</button>
</form>
